In [72]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 10

In [73]:
df = pd.read_csv('NCDB_1999_to_2016.csv', engine = 'python')

In [74]:
print(df.head())
print(df.shape)
print(df.index.name)
print(df.columns.name)
print(df.columns)
print(df.dtypes)



#Move the dependent variable to the outside and drop C_CASE column
P_ISEV = df['P_ISEV']
df.drop(columns = ['P_ISEV'], inplace = True)
df['P_ISEV'] = P_ISEV

#Move the dependent variable to the outside and drop C_CASE column
df.drop(columns = ['C_SEV', 'C_CASE'], inplace = True)

#map F = 0 and M = 1
data_to_impute = df['P_SEX'].astype('str').str.contains('F')
df['P_SEX'][data_to_impute] = '0'
data_to_impute = df['P_SEX'].astype('str').str.contains('M')
df['P_SEX'][data_to_impute] = '1'

print(df.head())

for col in df.columns:
    df[col] = df[col].apply(lambda x: str(x) if str(x).isdigit() else np.nan)

df.dropna(inplace = True)
df = df.reset_index(drop=True)
df = df.astype('category')

print(df.head())
print(df.shape)
print(df.index.name)
print(df.columns.name)
print(df.columns)
print(df.dtypes)

#check for nun numeric values
print("This dataset has {0} Null values".format(df.isnull().sum().sum()))
print("This dataset has {0} Not a Number (NaN) values".format(df.isna().sum().sum()))
print("This dataset has {0} Non Numeric values".format(df[df.columns].apply(lambda x: x.astype(str).str.contains('[^0-9]')).sum().sum()))

   C_YEAR C_MNTH C_WDAY C_HOUR  C_SEV C_VEHS C_CONF C_RCFG C_WTHR C_RSUR  \
0    1999     01      1     20      2     02     34     UU      1      5
1    1999     01      1     20      2     02     34     UU      1      5
2    1999     01      1     20      2     02     34     UU      1      5
3    1999     01      1     08      2     01     01     UU      5      3
4    1999     01      1     08      2     01     01     UU      5      3

   ...   V_TYPE V_YEAR P_ID P_SEX P_AGE P_PSN P_ISEV P_SAFE P_USER C_CASE
0  ...       06   1990   01     M    41    11      1     UU      1    752
1  ...       01   1987   01     M    19    11      1     UU      1    752
2  ...       01   1987   02     F    20    13      2     02      2    752
3  ...       01   1986   01     M    46    11      1     UU      1    753
4  ...       NN   NNNN   01     M    05    99      2     UU      3    753

[5 rows x 23 columns]
(6486831, 23)
None
None
Index(['C_YEAR', 'C_MNTH', 'C_WDAY', 'C_HOUR', 'C_SEV', 'C_VEHS', 'C_CONF',
       'C_RCFG', 'C_WTHR', 'C_RSUR', 'C_RALN', 'C_TRAF', 'V_ID', 'V_TYPE',
       'V_YEAR', 'P_ID', 'P_SEX', 'P_AGE', 'P_PSN', 'P_ISEV', 'P_SAFE',
       'P_USER', 'C_CASE'],
      dtype='object')
C_YEAR     int64
C_MNTH    object
C_WDAY    object
C_HOUR    object
C_SEV      int64
           ...
P_PSN     object
P_ISEV    object
P_SAFE    object
P_USER    object
C_CASE     int64
Length: 23, dtype: object

C:\Users\pradeep\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\pradeep\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   C_YEAR C_MNTH C_WDAY C_HOUR C_VEHS C_CONF C_RCFG C_WTHR C_RSUR C_RALN  \
0    1999     01      1     20     02     34     UU      1      5      3
1    1999     01      1     20     02     34     UU      1      5      3
2    1999     01      1     20     02     34     UU      1      5      3
3    1999     01      1     08     01     01     UU      5      3      6
4    1999     01      1     08     01     01     UU      5      3      6

   ...   V_ID V_TYPE V_YEAR P_ID P_SEX P_AGE P_PSN P_SAFE P_USER P_ISEV
0  ...     01     06   1990   01     1    41    11     UU      1      1
1  ...     02     01   1987   01     1    19    11     UU      1      1
2  ...     02     01   1987   02     0    20    13     02      2      2
3  ...     01     01   1986   01     1    46    11     UU      1      1
4  ...     99     NN   NNNN   01     1    05    99     UU      3      2

[5 rows x 21 columns]
  C_YEAR C_MNTH C_WDAY C_HOUR C_VEHS C_CONF C_RCFG C_WTHR C_RSUR C_RALN  \
0   1999     01      1     09     02     34     02      1      1      1
1   1999     01      1     09     02     34     02      1      1      1
2   1999     01      1     20     01     03     03      1      1      3
3   1999     01      1     05     02     01     02      3      2      4
4   1999     01      1     05     02     01     02      3      2      4

   ...   V_ID V_TYPE V_YEAR P_ID P_SEX P_AGE P_PSN P_SAFE P_USER P_ISEV
0  ...     01     01   1992   01     0    33    11     02      1      2
1  ...     02     01   1992   01     0    70    11     02      1      1
2  ...     01     01   1988   01     0    38    11     02      1      2
3  ...     01     06   1995   01     1    34    11     02      1      1
4  ...     01     06   1995   02     1    30    13     02      2      1

[5 rows x 21 columns]
(3655334, 21)
None
None
Index(['C_YEAR', 'C_MNTH', 'C_WDAY', 'C_HOUR', 'C_VEHS', 'C_CONF', 'C_RCFG',
       'C_WTHR', 'C_RSUR', 'C_RALN', 'C_TRAF', 'V_ID', 'V_TYPE', 'V_YEAR',
       'P_ID', 'P_SEX', 'P_AGE', 'P_PSN', 'P_SAFE', 'P_USER', 'P_ISEV'],
      dtype='object')
C_YEAR    category
C_MNTH    category
C_WDAY    category
C_HOUR    category
C_VEHS    category
            ...
P_AGE     category
P_PSN     category
P_SAFE    category
P_USER    category
P_ISEV    category
Length: 21, dtype: object
This dataset has 0 Null values
This dataset has 0 Not a Number (NaN) values
This dataset has 0 Non Numeric values

In [75]:
df.to_csv('NCDB_FULL_Removed_All_Missing_Values.csv', encoding='utf-8', index=False)