In [1]:
import numpy as np
#in case we need to repeat experiment
np.random.seed(255)

import pandas as pd
pd.options.display.max_rows = 25

import matplotlib.pyplot as plt
plt.style.use('classic')

from IPython.display import display, HTML

import seaborn as sns
sns.set()

In [2]:
df = pd.read_csv('NCDB_1999_to_2016.csv', engine = 'python')
display(df)
print(df.index.name)
print(df.columns.name)
print(df.columns)

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,...,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER,C_CASE
0,1999,01,1,20,2,02,34,UU,1,5,...,06,1990,01,M,41,11,1,UU,1,752
1,1999,01,1,20,2,02,34,UU,1,5,...,01,1987,01,M,19,11,1,UU,1,752
2,1999,01,1,20,2,02,34,UU,1,5,...,01,1987,02,F,20,13,2,02,2,752
3,1999,01,1,08,2,01,01,UU,5,3,...,01,1986,01,M,46,11,1,UU,1,753
4,1999,01,1,08,2,01,01,UU,5,3,...,NN,NNNN,01,M,05,99,2,UU,3,753
5,1999,01,1,17,2,03,QQ,QQ,1,2,...,01,1984,01,M,28,11,1,UU,1,820
6,1999,01,1,17,2,03,QQ,QQ,1,2,...,01,1991,01,M,21,11,1,UU,1,820
7,1999,01,1,17,2,03,QQ,QQ,1,2,...,01,1991,02,F,UU,13,2,UU,2,820
8,1999,01,1,17,2,03,QQ,QQ,1,2,...,01,1992,01,M,UU,11,2,UU,1,820
9,1999,01,1,15,2,01,04,UU,1,5,...,01,1997,01,M,61,11,1,UU,1,932
10,1999,01,1,15,2,01,04,UU,1,5,...,01,1997,02,F,56,13,2,02,2,932
11,1999,01,1,14,2,02,31,UU,3,4,...,01,1993,01,F,34,11,1,UU,1,992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6486819,2016,12,7,UU,2,01,03,01,1,3,...,01,2012,01,F,19,11,2,UU,1,2455499
6486820,2016,12,7,12,2,02,21,01,4,3,...,01,2012,01,F,44,11,2,02,1,2455500
6486821,2016,12,7,12,2,02,21,01,4,3,...,01,2010,01,M,31,11,1,02,1,2455500
6486822,2016,12,7,12,2,02,21,01,4,3,...,01,2010,02,F,25,13,2,02,2,2455500
6486823,2016,12,7,12,2,02,21,01,4,3,...,01,2010,03,F,01,22,2,02,2,2455500
6486824,2016,12,7,06,2,01,04,01,1,5,...,01,2015,01,M,59,11,2,02,1,2455661
6486825,2016,UU,U,01,2,01,06,UU,1,Q,...,14,2003,01,M,29,96,2,01,5,2433817
6486826,2016,UU,U,01,2,01,06,01,U,U,...,14,2012,01,M,56,96,2,UU,5,2434290
6486827,2016,UU,U,01,2,01,06,01,U,U,...,14,2012,02,F,49,96,2,UU,5,2434290
6486828,2016,UU,U,00,2,01,02,01,U,3,...,01,UUUU,01,F,UU,11,1,UU,1,2455733
6486829,2016,UU,U,00,2,01,02,01,U,3,...,01,UUUU,02,M,20,13,1,UU,2,2455733
6486830,2016,UU,U,00,2,01,02,01,U,3,...,01,UUUU,03,M,20,23,2,UU,2,2455733

None
None
Index(['C_YEAR', 'C_MNTH', 'C_WDAY', 'C_HOUR', 'C_SEV', 'C_VEHS', 'C_CONF',
       'C_RCFG', 'C_WTHR', 'C_RSUR', 'C_RALN', 'C_TRAF', 'V_ID', 'V_TYPE',
       'V_YEAR', 'P_ID', 'P_SEX', 'P_AGE', 'P_PSN', 'P_ISEV', 'P_SAFE',
       'P_USER', 'C_CASE'],
      dtype='object')

In [3]:
df['P_SEX'] = df['P_SEX'].map({'F': '0', 'M': '1'})

In [4]:
df['P_SEX']

0          1
1          1
2          0
3          1
4          1
5          1
6          1
7          0
8          1
9          1
10         0
11         0
          ..
6486819    0
6486820    0
6486821    1
6486822    0
6486823    0
6486824    1
6486825    1
6486826    1
6486827    0
6486828    0
6486829    1
6486830    1
Name: P_SEX, Length: 6486831, dtype: object

In [5]:
#Move the dependent variable to the outside and drop C_CASE column
P_ISEV = df['P_ISEV']
df.drop(columns = ['P_ISEV'], inplace = True)
df['P_ISEV'] = P_ISEV

In [6]:
#Move the dependent variable to the outside and drop C_CASE column
df.drop(columns = ['C_SEV', 'C_CASE'], inplace = True)

In [7]:
print(df.columns)

Index(['C_YEAR', 'C_MNTH', 'C_WDAY', 'C_HOUR', 'C_VEHS', 'C_CONF', 'C_RCFG',
       'C_WTHR', 'C_RSUR', 'C_RALN', 'C_TRAF', 'V_ID', 'V_TYPE', 'V_YEAR',
       'P_ID', 'P_SEX', 'P_AGE', 'P_PSN', 'P_SAFE', 'P_USER', 'P_ISEV'],
      dtype='object')

In [ ]:
for col in df.columns:
    impute = df[col].astype('str').str.contains('[^0-9]')
    df[col][impute] = df[col][impute].apply(lambda x: np.nan)
df_no_missing = df.dropna()
df_no_missing = df_no_missing.reset_index(drop=True)
df_no_missing
df_no_missing_first100 = df_no_missing[:100].copy()

C:\Users\pradeep\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df_no_missing[:100]

In [ ]:
df

In [ ]:
df_no_missing_first100

In [ ]:
df_no_missing.to_csv('data01_simple.csv', encoding='utf-8', index=False)
df_no_missing_first100.to_csv('data01_simple_100.csv', encoding='utf-8', index=False)